@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: max-content;
  font-family: "Titillium Web", sans-serif;
  background-color: #f8f7f7;
}

.logo-and-name {
  display: flex;
  width: max-content;
  /* border: 1px solid black; */
  height: max-content;
  /* margin-right: auto; */
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.8rem;
}
.logo-and-name .logo {
  /* border: 1px solid black; */
  width: 3rem;
  display: flex;
  align-items: center;
}

.logo-and-name .app-name {
  color: #d500f9;
  font-weight: 1000;
  font-size: 30px;
}

.right {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* gap: 1.5rem; */
}

.right .main {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 80%;
}

.right .posts {
  display: flex;
  height: max-content;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  position: absolute;
  margin-left: 90%;
}

/* .navbar {
  border: 1px solid black;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  justify-content: center;
} */

input {
  width: 9rem;
  height: 2.3rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1.5px solid #eeb6f8;
  font-size: large;
  color: #272727;
  margin-right: 2rem;
  transition: 0.7s;
  /* box-shadow: 0 0 3pt 0.4pt #d3d3d3; */
  box-shadow: 0 0 5pt 0.7pt #eeeded;
}

input:hover {
  box-shadow: 0 0 5pt 0.7pt #d3d3d3;
}
input:focus {
  outline: none;
  border: 2px solid #d500f9;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

button {
  width: 4rem;
  height: 2.2rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  text-align: center;
  border: none;
  background-color: #de50f7;
  color: white;
  font-size: large;
  cursor: pointer;
  box-shadow: 0 0 5pt 0.7pt #eeeded;
  transition: all 0.3s;
}

button:hover {
  background-color: rgb(156, 39, 176);
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

button:active {
  background-color: rgb(156, 39, 176);
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.98);
}

@media screen and (max-device-width: 502px) {
  .logo-and-name .app-name {
    display: none;
  }

  .logo-and-name .logo {
    width: 3rem;
  }

  input {
    width: 7rem;
    height: 2rem;
    font-size: normal;
  }
  .inputs {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .icon {
    margin-top: -40%;
  }
}

@media screen and (max-device-width: 585px) {
  input {
    margin-bottom: 1rem;
  }
}

@media screen and (max-device-width: 900px) {
  .logo-and-name .app-name {
    display: none;
  }
}
